@charset "UT-8";

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

:root {
    --cor01: #7BCBFF;
    --cor02: #2EADFF;
    --cor03: #258ACC;
    --cor04: #17567F;
    --cor05: #3E657F;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: var(--cor04);
    text-align: center;
    color: white;
    padding: 10px;
    width: 100%;
}

ul {
    columns: 4;
    list-style-type: none;
    text-align: center;
    margin: auto;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    margin: auto;
}

li a {
    border: 1px solid black;
    display: block;
    transition-duration: 0.4s;
    padding: 12px;
}

li a:hover {
    font-weight: bold;
    background-color: var(--cor04);
    transition-duration: 0.4s;
}

a#cleisson {
    color: white;
}

a#cleisson:hover {
    color: var(--cor01);
}

a:hover {
    color: white;
}

iframe {
    width: 95vw;
    height: 400px;
    display: block;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
}